### Android ###
*.iml
.gradle/
.idea/
local.properties
.DS_Store
/build/
.cxx/
.externalNativeBuild/
captures/
output.json
*.apk
*.ap_
*.hprof

# Gradle
.gradle/
build/
*/build/
!gradle-wrapper.jar
.gradle_cache/
.settings/
# Android Studio
*.idea/workspace.xml
*.idea/libraries/
.idea/modules.xml
*.idea/.name
.idea/misc.xml
*.idea/dictionaries
*.idea/caches
*.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/vcs.xml
.idea/gradle.xml
.idea/navigation.json
.idea/httpRequests/
.idea/modules.xml
.idea/libraries/
.idea/misc.xml

.idea/runConfigurations/
*.ipr
*.iws
*.iml
.idea_modules/
.idea
.vscode/launch.json

google-services.json
